In [1]:
import pandas as pd
import numpy as np

## Bronx Population by race

In [2]:
bronx = pd.read_csv("bronx_pop_data.csv")
bronx.head(10)

,Label (Grouping),"Bronx borough, Bronx County, New York"
0,Total:,"1,472,654"
1,Hispanic or Latino,"806,463"
2,Not Hispanic or Latino:,"666,191"
3,Population of one race:,"637,821"
4,White alone,"130,796"
5,Black or African American alone,"419,393"
6,American Indian and Alaska Native ...,"3,087"
7,Asian alone,"67,766"
8,Native Hawaiian and Other Pacific ...,457
9,Some Other Race alone,"16,322"

In [3]:
bronx = bronx.rename(columns = {"Label (Grouping)":"race","Bronx borough, Bronx County, New York" : "pop_est"})
bronx.head(2)

                     race    pop_est
0                  Total:  1,472,654
1      Hispanic or Latino    806,463

In [4]:
##convert string into integer, add column with integers
pop = []
for i in range(len(bronx["pop_est"])):
    c = bronx["pop_est"][i].replace(",","")
    pop.append(int(c))
bronx['pop'] = pop
bronx = bronx.drop(['pop_est'], axis=1)
#bronx.head()

In [5]:
#calculate hispanic, black, asian pop rate in the bronx
br_hisp_rate = round(int(bronx["pop"][1])/int(bronx["pop"][0])*100,2)
br_black_rate = round(int(bronx["pop"][5])/int(bronx["pop"][0])*100,2)
br_asian_rate = round(int(bronx["pop"][7])/int(bronx["pop"][0])*100,2)

## Queens Population by race

In [6]:
queens = pd.read_csv("queens_pop_data.csv")
queens = queens.rename(columns = {"Label (Grouping)":"race","Queens County, New York" : "pop_est"})
pop = []
for i in range(len(queens["pop_est"])):
    c = queens["pop_est"][i].replace(",","")
    pop.append(int(c))
queens['pop'] = pop
queens = queens.drop(['pop_est'], axis=1)
#queens.head(10)

In [7]:
#calculate hispanic, black, asian pop rate in queens
q_hisp_rate = round(int(queens["pop"][1])/int(queens["pop"][0])*100,2)
q_black_rate = round(int(queens["pop"][5])/int(queens["pop"][0])*100,2)
q_asian_rate = round(int(queens["pop"][7])/int(queens["pop"][0])*100,2)
#q_hisp_rate

## Manhattan Population by race

In [8]:
manhattan = pd.read_csv("manhattan_pop_data.csv")
manhattan = manhattan.rename(columns = {"Label (Grouping)":"race","Manhattan borough, New York County, New York" : "pop_est"})
pop = []
for i in range(len(manhattan["pop_est"])):
    c = manhattan["pop_est"][i].replace(",","")
    pop.append(int(c))
manhattan['pop'] = pop
manhattan = manhattan.drop(['pop_est'], axis=1)
#manhattan.head(10)

In [9]:
m_hisp_rate = round(int(manhattan["pop"][1])/int(manhattan["pop"][0])*100,2)
m_black_rate = round(int(manhattan["pop"][5])/int(manhattan["pop"][0])*100,2)
m_asian_rate = round(int(manhattan["pop"][7])/int(manhattan["pop"][0])*100,2)
m_hisp_rate

23.77

## Brooklyn Population by race

In [10]:
brooklyn = pd.read_csv("brooklyn_pop_data.csv")
brooklyn = brooklyn.rename(columns = {"Label (Grouping)":"race","Brooklyn borough, Kings County, New York" : "pop_est"})
pop = []
for i in range(len(brooklyn["pop_est"])):
    c = brooklyn["pop_est"][i].replace(",","")
    pop.append(int(c))
brooklyn['pop'] = pop
brooklyn = brooklyn.drop(['pop_est'], axis=1)

In [11]:
bk_hisp_rate = round(int(brooklyn["pop"][1])/int(brooklyn["pop"][0])*100,2)
bk_black_rate = round(int(brooklyn["pop"][5])/int(brooklyn["pop"][0])*100,2)
bk_asian_rate = round(int(brooklyn["pop"][7])/int(brooklyn["pop"][0])*100,2)
bk_hisp_rate

18.87

## Staten Island Population by Race

In [12]:
staten = pd.read_csv("staten_pop_data.csv")
staten = staten.rename(columns = {"Label (Grouping)":"race","Staten Island borough, Richmond County, New York" : "pop_est"})
pop = []
for i in range(len(staten["pop_est"])):
    c = staten["pop_est"][i].replace(",","")
    pop.append(int(c))
staten['pop'] = pop
staten = staten.drop(['pop_est', 'Brooklyn borough, Kings County, New York'], axis=1)
staten.head(10)

                                                race     pop
0                                             Total:  495747
1                                 Hispanic or Latino   96960
2                            Not Hispanic or Latino:  398787
3                            Population of one race:  387469
4                                        White alone  277981
5                    Black or African American alone   46835
6              American Indian and Alaska Native ...     624
7                                        Asian alone   58753
8              Native Hawaiian and Other Pacific ...     135
9                              Some Other Race alone    3141

In [13]:
s_hisp_rate = round(int(staten["pop"][1])/int(staten["pop"][0])*100,2)
s_black_rate = round(int(staten["pop"][5])/int(staten["pop"][0])*100,2)
s_asian_rate = round(int(staten["pop"][7])/int(staten["pop"][0])*100,2)
s_hisp_rate

19.56

## Manhattan Indicators

In [14]:
## Median age in manhattan
m_median_age = 37.6
## Median Income (usd, 2019 inflation adjusted dollars)
m_median_income = 86553
## percent below poverty level
m_poverty_level = 15.8 #15.8 percent
## Unemployment rate as a percentage
m_unemp_rate = 5.2
## Percentage of Population aged 25+ w/ at least a bachelor's degree
m_educ = 61.3
## labor force participation rate (LFPR)
m_lfpr = 67.3
## Foreign born population & percentage in Manhattan
m_foreign = 468820
m_foreign_per = int(m_foreign/int(manhattan["pop"][0]))

## Brooklyn Indicators

In [15]:
## Median age 
bk_median_age = 35.6
## Median Income (usd, 2019 inflation adjusted dollars)
bk_median_income = 60231
## percent below poverty level
bk_poverty_level = 17.7  #14.0 percent
## Unemployment rate as a percentage
bk_unemp_rate = 6.2
## Percentage of Population aged 25+ w/ at least a bachelor's degree
bk_educ = 37.5
## labor force participation rate (LFPR)
bk_lfpr = 63.7
## Foreign born population & percentage in Manhattan
bk_foreign = 934371
bk_foreign_per = int(bk_foreign/2589974)

## Bronx Indicators

In [16]:
## Median age 
br_median_age = 34.2
## Median Income (usd, 2019 inflation adjusted dollars)
br_median_income = 40088
## percent below poverty level
br_poverty_level = 28.0  #14.0 percent
## Unemployment rate as a percentage
br_unemp_rate = 10.0
## Percentage of Population aged 25+ w/ at least a bachelor's degree
br_educ = 20.4
## labor force participation rate (LFPR)
br_lfpr = 59.4
## Foreign born population & percentage in Manhattan
br_foreign = 506431
br_foreign_per = int(br_foreign/1435068)

## Queens Indicators

In [17]:
## Median age 
q_median_age = 39.0
## Median Income (usd, 2019 inflation adjusted dollars)
q_median_income = 68666
## percent below poverty level
q_poverty_level = 12.2 #14.0 percent
## Unemployment rate as a percentage
q_unemp_rate = 5.6
## Percentage of Population aged 25+ w/ at least a bachelor's degree
q_educ = 32.2
## labor force participation rate (LFPR)
q_lfpr = 64.2
## Foreign born population & percentage in Manhattan
q_foreign = 1080523
q_foreign_per = int(q_foreign/2287388)

## Staten Island Indicators

In [18]:
## Median age 
s_median_age = 40.1
## Median Income (usd, 2019 inflation adjusted dollars)
s_median_income = 82783
## percent below poverty level
s_poverty_level = 11.7 
## Unemployment rate as a percentage
s_unemp_rate = 4.6
## Percentage of Population aged 25+ w/ at least a bachelor's degree
s_educ = 36.2
## labor force participation rate (LFPR)
s_lfpr = 58.8
## Foreign born population & percentage in Manhattan
s_foreign = 110413
s_foreign_per = int(s_foreign/474893)

### Organize each indicator into a list in order to integrate into larger data set

In [19]:
## Order of boroughs: manhattan, brooklyn (bk), bronx (br), queens, staten island 
median_age = [m_median_age, bk_median_age, br_median_age, q_median_age, s_median_age]
median_income = [m_median_income, bk_median_income, br_median_income, q_median_income, s_median_income]
poverty_rate = [m_poverty_level, bk_poverty_level, br_poverty_level, q_poverty_level, s_poverty_level]
unemployment_rate = [m_unemp_rate, bk_unemp_rate, br_unemp_rate, q_unemp_rate, s_unemp_rate]
educ = [m_educ, bk_educ, br_educ, q_educ, s_educ]
labor_part = [m_lfpr, bk_lfpr, br_lfpr, q_lfpr, s_lfpr]
foreign_percent = [m_foreign_per, bk_foreign_per, br_foreign_per, q_foreign_per, s_foreign_per]
hispanic_rate = [m_hisp_rate, bk_hisp_rate, br_hisp_rate, q_hisp_rate, s_hisp_rate]
black_rate = [m_black_rate, bk_black_rate, br_black_rate, q_black_rate, s_black_rate]
asian_rate = [m_asian_rate, bk_asian_rate, br_asian_rate, q_asian_rate, s_asian_rate]

## Create Data Frame

In [20]:
boroughs = ['manhattan', 'brooklyn', 'bronx', 'queens', 'staten']

In [21]:
econ_ind = pd.DataFrame({'borough':boroughs,
                        'median_age': median_age,
                        'poverty_rate': poverty_rate,
                        'unemployment_rate':unemployment_rate,
                        'educ':educ,
                        'labor_part':labor_part,
                        'foreign_percent':foreign_percent,
                        'hispanic_rate':hispanic_rate,
                        'black_rate':black_rate,
                        'asian_rate':asian_rate})
econ_ind

,borough,median_age,poverty_rate,unemployment_rate,educ,labor_part,foreign_percent,hispanic_rate,black_rate,asian_rate
0,manhattan,37.6,15.8,5.2,61.3,67.3,0,23.77,11.78,12.96
1,brooklyn,35.6,17.7,6.2,37.5,63.7,0,18.87,26.67,13.55
2,bronx,34.2,28.0,10.0,20.4,59.4,0,54.76,28.48,4.60
3,queens,39.0,12.2,5.6,32.2,64.2,0,27.76,15.85,27.30
4,staten,40.1,11.7,4.6,36.2,58.8,0,19.56,9.45,11.85

In [22]:
econ_ind.to_csv('economic_indicators.csv')
################################################################################################################################

# Create Subgroups for crime

In [23]:
data = pd.read_csv("NYPD_Complaint_Data_2017-21.csv")
data.head(3)

C:\Users\david\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,216044876,01/01/2017,11:00:00,08/20/2018,12:00:00,109.0,12/31/2019,116,SEX CRIMES,179.0,...,M,NaN,40.762334,-73.826917,"(40.76233421800004, -73.82691730799998)",PATROL BORO QUEENS NORTH,NaN,<18,ASIAN / PACIFIC ISLANDER,F
1,112025807,01/01/2017,09:00:00,09/01/2019,09:00:00,13.0,12/06/2019,233,SEX CRIMES,175.0,...,M,NaN,40.736698,-73.983316,"(40.736698070000045, -73.98331602599995)",PATROL BORO MAN SOUTH,NaN,45-64,WHITE HISPANIC,M
2,669902330,01/01/2017,00:01:00,12/31/2017,23:59:00,114.0,11/26/2019,233,SEX CRIMES,175.0,...,M,NaN,40.769306,-73.915508,"(40.76930608700008, -73.91550817999997)",PATROL BORO QUEENS NORTH,NaN,<18,BLACK,F

In [24]:
data.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD',
       'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [30]:
data['LAW_CAT_CD'].unique() ### use this for analysis

array(['FELONY', 'MISDEMEANOR', 'VIOLATION'], dtype=object)

#### Use this link and find ways to group crimes, BUT CHECK COLUMN DESCRIPTIONS FIRST TO MAKE SURE IT DOESNT EXIST ALREADY

https://open.lib.umn.edu/socialproblems/chapter/8-2-types-of-crime/

For each crime group, put a unique ID to ultimately tie to larger dataset.

In [32]:
data['BORO_NM'].unique()

array(['QUEENS', 'MANHATTAN', 'BROOKLYN', 'BRONX', 'STATEN ISLAND', nan],
      dtype=object)

In [31]:
data.head(3)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,216044876,01/01/2017,11:00:00,08/20/2018,12:00:00,109.0,12/31/2019,116,SEX CRIMES,179.0,...,M,NaN,40.762334,-73.826917,"(40.76233421800004, -73.82691730799998)",PATROL BORO QUEENS NORTH,NaN,<18,ASIAN / PACIFIC ISLANDER,F
1,112025807,01/01/2017,09:00:00,09/01/2019,09:00:00,13.0,12/06/2019,233,SEX CRIMES,175.0,...,M,NaN,40.736698,-73.983316,"(40.736698070000045, -73.98331602599995)",PATROL BORO MAN SOUTH,NaN,45-64,WHITE HISPANIC,M
2,669902330,01/01/2017,00:01:00,12/31/2017,23:59:00,114.0,11/26/2019,233,SEX CRIMES,175.0,...,M,NaN,40.769306,-73.915508,"(40.76930608700008, -73.91550817999997)",PATROL BORO QUEENS NORTH,NaN,<18,BLACK,F